{:deps
 {org.clojure/clojure         {:mvn/version "1.10.3"}
  aerial.hanami/aerial.hanami {:mvn/version "0.12.7"}
  techascent/tech.ml.dataset  {:mvn/version "6.022"}
  scicloj/notespace           {:mvn/version "4-alpha-1"}}
 :aliases
 {:dev
  {:extra-deps {clj-kondo               {:mvn/version "2021.03.03"}
                midje/midje             {:mvn/version "1.9.10"}
                scicloj/tablecloth      {:mvn/version "6.00-beta-10"}
                org.pinkgorilla/ui-vega {:mvn/version "0.0.16"}
                techascent/tech.viz     {:mvn/version "6.00-beta-16-2"}
                generateme/fastmath     {:mvn/version "2.1.5"}
                scicloj/notespace       {:mvn/version "4-alpha-1"}}}}}

